/* BASIC STYLE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0d1117;
    color: #fff;
    line-height: 1.6;
}

a { color: #facc15; text-decoration: none; }
h2 { margin-top: 50px; font-size: 1.8rem; color: #facc15; }

/* NAVIGATION BAR */
header {
    background: #161b22;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background: #facc15;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.nav-links a {
    margin-left: 20px;
    color: #fff;
}

.nav-links a:hover {
    color: #facc15;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    padding: 80px 10%;
}

.hero h1 {
    font-size: 2.5rem;
}

.btn {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

.btn-primary {
    background: #facc15;
    color: #000;
}

.btn-outline {
    border: 2px solid #facc15;
    color: #facc15;
}

/* SKILLS */
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.chip {
    border: 1px solid #facc15;
    padding: 6px 14px;
    border-radius: 20px;
}

.highlight {
    background: #facc15;
    color: black;
}

/* PROJECTS */
.project-card {
    background: #161b22;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.tech {
    color: #aaa;
    font-size: 0.9rem;
}

.project-link {
    margin-top: 10px;
    display: inline-block;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #161b22;
    margin-top: 40px;
}
